
body {
  background-color: #F5F5F5;
  padding:50px;
  font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#5c566c;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

small a {
  color:#39c;
  display:block;
  font-size:11px;
  margin-top:-0.3em;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  text-align: center;
  -webkit-font-smoothing:subpixel-antialiased;
}

header .title {
  font-size: 72px;
  font-weight: normal;
  margin: 0 0 0 0;
}

header .subline {
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 8px 0
}

header .lastupdated {
  font-size: 12px;
  font-weight: normal;
  margin: 24px 0 48px 0
}

.menu-title {
  text-align: center;
  font-size: 9px;
  text-transform: uppercase;
}

nav {
  display:block;
}

.hr {
  clear: both;
  border-bottom: #e1e1e1 solid 1px;
  margin-top: 8px;
  margin-bottom: 24px;
}

nav ul {
  list-style:none;
  padding: 0;
}

nav > ul {
  clear: both;
  display: block;
}

nav > ul > li {
  display: block;
  width: 25%;
  float: left;
}

body > div > nav > ul > li > ul > li,
body > div > nav > ul > li > ul > li > ul > li {
  padding-left: 8px;
  padding-right: 16px;
}

body > div > nav > ul > li > ul > li > a {
  font-size: 14px;
  font-weight: bold;
}

body > div > nav > ul > li > ul > li > a,
body > div > nav > ul > li > ul > li > ul > li > a {
  margin-bottom: 16px;
}

body > div > nav > ul > li > ul > li {
  padding-bottom: 18px;
}


.chapter-image {
  text-align: center;
}

.back-to-top {
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;

}
  /*nav > ul > li {*/
  /*display:block;*/
  /*vertical-align:top;*/
  /*width:33%;*/
  /*float:left;*/
  /*padding: 0 8px 0 0;*/
/*}*/

/*nav > ul > li > a {*/
  /*font-size: 18px;*/
/*}*/

/*nav > ul > li > ul > li {*/
  /*margin-top: 16px;*/
/*}*/

nav ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align: left;
}

nav ul a:hover {
  color: #999;
}

nav ul a:active {
  background-color: #f0f0f0;
}

strong {
  color: #222;
  font-weight: 700;
}

nav ul li + li + li {
  border-right: none;
}

nav ul a strong {
  font-size:14px;
  display: block;
  color:#222;
}

section {
  clear:both;
  margin: 0 auto 0 auto;
  width:500px;
  padding-bottom:50px;
}

section .chapter {
  text-transform: uppercase;
  text-align:center;
  font-size: 9px;
  margin-bottom: 8px;
}

section h2 {
  text-align: center;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

